<div class="chart-wrapper">
  <div
    #chartContainer
    (contextmenu)="onChartContextMenu($event)"
    style="width: 100%; height: 100%"
  ></div>
</div>

<!-- Only render the trigger button if showDLSeq9 is true -->
<button
  *ngIf="showDLSeq9"
  #menuTrigger
  mat-button
  [matMenuTriggerFor]="dlSeq9Menu"
  style="display: none; position: fixed; left: 0; top: 0"
></button>

<mat-menu #dlSeq9Menu="matMenu">
  <button mat-menu-item (click)="onSaveDLSeq9()">Save DL-Seq-9</button>
  <button mat-menu-item (click)="deleteMarkers()">Delete DL-Seq-9</button>
</mat-menu>
