<div class="watchlist-panel">
  <h3>Watchlist</h3>
  <div style="margin-bottom: 12px">
    <input
      class="watchlist-input"
      [(ngModel)]="newSymbol"
      placeholder="Add symbol"
      (keyup.enter)="addNewSymbol()"
      style="width: 100px"
    />
    <button (click)="addNewSymbol()">Add</button>
  </div>
  <table style="width: 100%">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Last</th>
        <th>Chg</th>
        <th>%</th>
        <th>Ext</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of symbols; let i = index"
        (dblclick)="select.emit(item.symbol)"
      >
        <td>{{ item.symbol }}</td>
        <td>{{ item.last }}</td>
        <td [style.color]="item.chg > 0 ? '#1aff1a' : '#ff3333'">
          {{ item.chg }}
        </td>
        <td [style.color]="item.chgPct > 0 ? '#1aff1a' : '#ff3333'">
          {{ item.chgPct | number : "1.2-2" }}%
        </td>
        <td>{{ item.ext }}</td>
        <td>
          <button (click)="remove(i); $event.stopPropagation()">✖</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button style="margin-top: 12px" (click)="close.emit()">Close</button>
</div>
