<div class="settings-panel">
  <h4 class="title">Chart Settings</h4>
  <div class="settings-row">
    <label class="settings-label">
      <input
        type="checkbox"
        [(ngModel)]="showDMark"
        (change)="showDMarkChange.emit(showDMark)"
      />
      Show D-Mark
    </label>
  </div>
  <div class="settings-row">
    <label class="settings-label">
      <input
        type="checkbox"
        [(ngModel)]="showDlSeq9"
        (change)="showDlSeq9Change.emit(showDlSeq9)"
      />
      Show DL-Seq-9
    </label>
  </div>
  <div class="settings-row">
    <label class="settings-label">
      <input
        type="checkbox"
        [(ngModel)]="showVolumeOverlap"
        (change)="showVolumeOverlapChange.emit(showVolumeOverlap)"
      />
      Volume Overlap
    </label>
  </div>
  <div class="settings-row">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="showSma"
        (change)="showSmaChange.emit(showSma)"
      />
      Show SMA
    </label>
    <button
      mat-icon-button
      type="button"
      class="edit-btn"
      (click)="showSmaSetting = true"
      title="Edit"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <button (click)="applySettings()">Apply</button>
</div>

<app-sma-setting
  *ngIf="showSmaSetting"
  [smas]="smas"
  (close)="showSmaSetting = false"
  (apply)="onSmaApply($event)"
></app-sma-setting>
