@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* src/styles.css */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
